{% set short_title = "Lima Beancount" if not short_title else short_title %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,500;1,800&family=Amatic+SC:wght@400;700&family=PT+Sans+Narrow&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  <title>{{ short_title }}</title>
</head>
<body>
  <header>
    <span>{{ page_title }}</span>
    <h1>LimaBean$</h1>
  </header>
    
  <main>
    <div id="root"></div>

    {% block content %}
    {% endblock %}
  </main>

  <aside>
    <nav>
      <h4>Accounts</h4>
      <ul>
        {% for favorite in favorites.accounts: %}
        <li><a href="/account/{{favorite.account_id}}">{% print(favorite.name if favorite.name else favorite.account_id) %}</a></li>
        {% endfor %}
        
        <h5>Time</h5>
        <li><a href="/jump">year to date</a></li>
        <li><a href="/jump">next 365 days</a></li>
        <li><a href="/jump">next 30 days</a></li>
        <li><a href="/jump">next 90 days</a></li>
      </ul>

      <h4>Statements</h4>
      <ul>
        <li>Income Statement</li>
        <li>Balance Sheet</li>
        <li>Journal</li>
        <li>Taxes</li>
        <li>Query</li>
      </ul>
    </nav>
  </aside>

  <script type="module" src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>