{% extends "_layout.html" %}

{% block content %}
<h2>Forecast</h2>

<div>
  <button class="pure-button">Open</button>
  <button class="pure-button">Close</button>
  <button class="pure-button">Transaction</button>
  <button class="pure-button">*</button>
  <button class="pure-button">!</button>
  <button class="pure-button">X</button>
  <button class="pure-button">Balance</button>
  <button class="pure-button">Note</button>
  <button class="pure-button">Document</button>
  <button class="pure-button">D</button>
  <button class="pure-button">L</button>
  <button class="pure-button">Pad</button>
  <button class="pure-button">Query</button>
  <button class="pure-button">Custom</button>
  <button class="pure-button">B</button>
  <button class="pure-button">Metadata</button>
  <button class="pure-button">Postings</button>
</div>

<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Date</th>
      <th>F</th>
      <th>Narration / Payee</th>
      <th>Cost/Change</th>
      <th>Balance</th>
    </tr>
  </thead>

  <tbody>

    {% for transaction in journal['transactions']: %}
    <tr>
      <td>{{transaction.date}}</td>
      <td>{{transaction.flag}}</td>
      <td>{{transaction.payee}} | {{transaction.narration}}</td>
      <td></td>
      <td></td>
    </tr>
    {% for posting in transaction.postings %}
    <tr>
      <td></td>
      <td>{{posting.flag}}</td>
      <td>{{posting.account.account_id}}</td>
      <td>{{posting.amount}}</td>
      <td></td>
    </tr>
    {% endfor %}
    {% endfor %}

  </tbody>
</table>
{% endblock %}