/* em pure-hidden values */

/* pure-hidden-xs */
@media screen and (max-width:35.438em) {
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-xs{display:none}
}
/* pure-hidden-sm */
@media screen and (min-width:35.5em) and (max-width:47.938em) {
    .pure-visible-xs{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-sm{display:none}
}
/* pure-hidden-md */
@media screen and (min-width:48em) and (max-width:63.938em) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-md{display:none}
}
/* pure-hidden-lg */
@media screen and (min-width:64em) and (max-width:79.938em) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-lg{display:none}
}
/* pure-hidden-xl */
@media screen and (min-width:80em) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-hidden-xl{display:none}
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: var(--body-font);
}

body {
    background-color: var(--black);
    background-image: radial-gradient(circle at 50% 0%,#2b283c 0%, #1b182c 25%, #100e23 40%);
    color: var(--white);
}

header {
    padding: .667em;
    background-color: var(--purple); /* var(--dark-magenta) */
    color: var(--black);
    font-weight: 700;
}

header h1 {
    margin: 0;
    font-family: var(--display-font);
    float: right;
}

header span {
    font-family: var(--mono-font);
    font-size: 2em;
}

main {
    background-color: var(--foreground); /* var(--base-3) */
    color: var(--background);
    padding: .337em 1em 0.667em;
}

aside {
    padding: .337em 1em 0.667em;
}

table {
    width: 100%;
    background-color: white;
}

a {
    color: var(--blue);
}

a:hover {
    color: var(--dark-blue);
}

a:visited {
    color: var(--dark-magenta);
}

.content {
    margin: 0 auto;
    max-width: 920px;
}