:root {
    /* Fonts */
    --display-font: 'Amatic SC', cursive;
    --body-font: 'Alegreya', serif;
    --mono-font: 'PT Sans Narrow', sans-serif;

    /* Scale of z-index values */

    /* Base colors - https://ethanschoonover.com/solarized/ */
    --base-03: #002b36;
    --base-02: #073642;
    --base-01: #586e75;
    --base-00: #657b83;


    --base-1: #93a1a1;
    --base-2: #eee8d5;
    --base-3: #fdf6e3;

    /* OneDark - https://github.com/joshdick/onedark.vim*/
    /* --black: #282c34; */
    /* --red: #e06c75; */
    /* --green: #98c379; */
    /* --yellow: #e5c07b; */
    --blue: #61afef;
    --purple: #c678dd;
    --teal: #56b6c2;
    --white: #abb2bf;


    /* Challenger Deep - https://challenger-deep-theme.github.io/ */
    --black: #100e23;
    --gray: #a6b3cc;
    --foreground: #cbe3e7;
    --background: #1b182c;
    --red: #ff8080;
    --dark-red: #ff5458;
    --green: #95ffa4;
    --dark-green: #62d196;
    --yellow: #ffe9aa;
    --dark-yellow: #ffb378;
    /* --blue: #91ddff; */
    --dark-blue: #65b2ff;
    --magenta: #c991e1;
    --dark-magenta: #906cff;
    --cyan: #aaffe4;
    --dark-cyan: #63f2f1;

    /* Buttons */

    /* Sidebar */

    /* Details */

    /* Header */

    /* Tables */

    /* Editor */

    /* Misc */

    /* Help pages */
}